.inline-label,
.inline-input {
  display: inline-block;
}
label {
    color: #3761AB;
    font-weight: bold;
}
.inline-label {
  margin-right: 1rem;
  min-width: 8rem;
}

.titlesituation{
    color : #3761AB;
    font-size: 20px;
    font-weight: bold;
}
.field-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.field {
    display: flex;
    flex-direction: column;
}
.field-grid .input-container label {
    margin-right: 10px; 
}

.field-grid .input-container input {
margin-right: 10px;
}
.field-grid .input-container .round-select{
margin-right: 10px; 
}
.input-container {
    display: flex;
    align-items: center;
}
.inline-label {
    margin-bottom: 0.5rem;
}

.inline-input {
    padding: 0.5rem;
    border: 2px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
}
.aw-input {
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.aw-input {
    box-shadow: 0 2px 6px #13124212;
    border-radius: 46px;
    width: 100%;
    border: 1px solid #eff0f7;
    padding: 0.75rem 1.25rem;
    font-weight: 600;
}
.selectWrapper {
    position: relative;
}
 
.round-select {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 999px;
    border: 1px solid #eff0f7;
    box-shadow: 0 2px 6px #13124212;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M16 24l-8-8h16z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
    background-size: 1rem 1rem;    
    text-overflow: ellipsis;
}

.round-select:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}

.round-select option {
    padding: 1rem;
    font-weight: normal;
}
.search {
    background-color: #3761AB;
    border-color: transparent;
    border-radius: 46px;
}
.search:hover {
    background-color: transparent;
    border-color: #3761AB;
    color: #3761AB; /* label color when hovering */
}
.card-footer {
    display: flex;
    justify-content: flex-end;
}  
.form-label{
    color: black;
}
.card-content.p-content2{
    margin-left: 100px;
}
@media only screen and (max-width: 1450px) {
    .field-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}
@media only screen and (max-width: 1200px) {
    .field-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}
@media only screen and (max-width: 840px) {
    .field-grid {
        padding: 0px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
    .inline-label {
        font-size: 15px;
    }
}
@media only screen and (max-width: 730px) {    
    .field-grid {
        padding: 0px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
    .inline-label {
        font-size: 15px;
    }
    .search {
        margin-top: 10px;
        width: 120px;
        height: 40px;
        font-size: 12px;
    } 
}
@media only screen and (max-width: 550px) {
    .display-area.hovered  {
        position: static;
        left: 0px;
    }
}
@media only screen and (max-width: 500px) { 
    .card-content.p-content2{
        margin-left: 10px;
    } 
    .search {
        margin-top: 10px;
        width: 120px;
        height: 40px;
        font-size: 12px;
    } 
}
